{% extends 'base.html' %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>profile</title>
    <link href="{% static 'css/login.css'%}" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/profile.css'%}" rel="stylesheet"  type="text/css"/>
    <link rel="icon" href="{% static 'img/icon.png'%}">
</head>
<body>
    <header class= "profile_container">
        <div class="profileImage">
                <button type="button"><img src="{% static 'img/ssu_likelion_logo_150x150.png'%}", alt="숭실대멋쟁이사자처럼로고"></button>
        </div>
        <div class="userinfo">
            <div class="userName">
                <h1>LikeLionSSU</h1>
                <button type="button">프로필 편집</button> 
            </div>
            <div>
                <ui class="userfollow">
                    <li>000 게시물</li>
                    <li>000 팔로워</li>
                    <li>000 팔로잉</li>
                </ul>
            </div> 
        <div>
            <p>hello world 🦁</p>
        </div> 
        </div>
    </header> 
    <main class="lion_container">
        <div class="lion">
            <img src="{% static 'mg/lionface.png'%}", alt="사자얼굴그림">
            <ul aria-hidden="true">
                <li>Likes: 0</li>
                <li>Comments: 0</li>
            </ul>
        </div>
        <div class="lion">  
            <img src="{% static 'img/lionface.png'%}", alt="사자얼굴그림">
            <ul aria-hidden="true">
                <li>Likes: 0</li>
                <li>Comments: 0</li>
            </ul>
        </div>
        <div class="lion">
            <img src="{% static 'img/lionface.png'%}", alt="사자얼굴그림">
            <ul aria-hidden="true">
                <li>Likes: 0</li>
                <li>Comments: 0</li>
            </ul>
        </div>
    </main>
</body>
</html>
{% endblock %}